# =========================
# NODE
# =========================
node_modules/

# =========================
# FRONTEND BUILD
# =========================
frontend/dist/

# =========================
# ENVIRONMENT
# =========================
.env
.env.*

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# UPLOADS
# =========================
uploads/

# =========================
# DATABASE
# =========================
*.sql
*.dump
*.gz

# =========================
# BACKUPS MANUALES
# =========================
*.bak
*.save
*.save.*
*.old
*.tmp
*.swp
*.swo
*.jsy
*.jsx.save
*.jsx.bak

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db
